<html>
{% load tailwind_tags %}
{% load static %}
<head>
    <meta charset="utf-8">
    {% tailwind_css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body class="bg-th-background md:mx-16 min-w-[600px] mt-2">

    <main>
        {% block header %}{% endblock %}
        <div class="md:mx-32">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>