{% extends 'base.html' %}

{% block title %}
    Charts
{% endblock %}

{% block header %}
    <div class="flex justify-between items-center border-b border-white text-white pb-2 px-1">
        <a href="/" class="text-center text-3xl font-bold hover:text-th-primary">
            <span class="text-th-primary">E</span>ventLogge<span class="text-th-primary">r</span>
        </a>
        <a class="flex justify-center border border-white rounded p-1 hover:bg-red-700" href="{% url 'logout' %}">
            <span class="material-icons">logout</span>
            Logout
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-4 gap-4 mt-4 min-h-[600px]">
        <!-- Action bar -->
        <div class="flex flex-col bg-th-card rounded text-white space-y-4 p-4">
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:border hover:border-white"
               href="{% url 'homepage' %}">
                <i class="material-icons">keyboard_arrow_left</i>
                <span>Back</span>
            </a>
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:border hover:border-white"
               href="{% url 'events' logger.id %}">
                <i class="material-icons">event_note</i>
                <span>Events</span>
            </a>
            <a class="flex space-x-1 p-1 rounded bg-th-primary">
                <i class="material-icons">insert_chart_outlined</i>
                <span>Charts</span>
            </a>
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:border hover:border-white"
               href="{% url 'settings' logger.id %}">
                <i class="material-icons">settings_applications</i>
                <span>Settings</span>
            </a>
        </div>
        <div class="col-span-3 flex flex-col justify-start">
            <h2 class="text-3xl text-white text-center font-bold m-0">Charts</h2>
            <div class="flex flex-col justify-center items-center mt-4 space-y-4">

                <form id="form">
                    <select name="chart" id="chart" class="bg-th-background text-white rounded">
                        <option selected>Select chart</option>
                        <option value="1">Total usage for each app</option>
                        <option value="3">Timeline for each app</option>
                        <option value="2">Total events per day</option>
                    </select>
                </form>
                <div class="flex flex-col justify-center min-w-[600px]">
                    <div class="flex justify-center space-x-4">
                        <input id="start" name="start" style="display: none" value="{{ start }}" class="rounded" type="date"/>
                    </div>
                    <div class="mt-4" id="chart_view"></div>
                </div>

            </div>

        </div>

    </div>

    <script>
        var chart = null;
        $("#chart").change(
            function () {
                $("#start").show();
                const chart_type = $("#chart").val();
                const start = $("#start").val();
                $.get("{% url 'chart_ajax' logger.id %}", {chart: chart_type, start: start}
                ).done(function (data) {
                    if($.isEmptyObject(data)){
                        $("#chart_view").html("<h2 class='text-center text-white text-2xl mt-8'>No data available</h2>");
                    }else{
                       drawGraph(chart_type, data);
                    }
                });
            }
        )
        $("#start").change(
            function () {
                const chart_type = $("#chart").val();
                const start = $("#start").val();
                $.get("{% url 'chart_ajax' logger.id %}", {chart: chart_type, start: start}
                ).done(function (data) {
                    if($.isEmptyObject(data)){
                        $("#chart_view").html("<h2 class='text-center text-white text-2xl mt-8'>No data available</h2>");
                    }else{
                        drawGraph(chart_type, data);
                    }

                });
            }
        )
    </script>
    <script>
        var chart = null;

        function drawGraph(type, data) {
            var options = {
                chart: {
                    foreColor: '#ffffff',
                },
                tooltip: {
                    theme: 'dark',
                }
            }
            if (chart) {
                // destroy old chart
                chart.destroy();
            }
            if (type === "1") {
                options.chart.type = "bar";
                options.series = [{
                    name: 'minutes',
                    data: data.series
                }];
                options.xaxis = {
                    labels: {
                        trim: true
                    },
                    categories: data.categories
                }
                chart = new ApexCharts(document.querySelector("#chart_view"), options);
                chart.render();
            }
            if (type === "2") {
                options.chart.type = "area";
                options.chart.zoom = {
                    enabled: true
                }
                options.series = [{
                    name: 'events',
                    data: data.series
                }];
                options.xaxis = {
                    tickPlacement: 'on',
                    categories: data.categories
                }
                chart = new ApexCharts(document.querySelector("#chart_view"), options);
                chart.render();
                chart.zoomX(data.zoom[0], data.zoom[1]);
            }
            if (type === "3") {
                console.log("Graph - 3")
                // convert datetime values in date
                for (var i = 0; i < data.list.length; i++) {
                    data.list[i].y[0] = new Date(data.list[i].y[0]).getTime();
                    data.list[i].y[1] = new Date(data.list[i].y[1]).getTime();
                }
                options.chart.type = "rangeBar";
                options.series = [
                    {
                        data: data.list
                    }
                ];
                options.plotOptions = {
                    bar: {
                        horizontal: true,
                        distributed: true,
                        dataLabels: {
                            hideOverflowingLabels: false
                        }
                    }
                };
                options.dataLabels = {
                    style: {
                        colors: ['#f3f4f5', '#fff']
                    }
                };
                options.xaxis = {
                    type: 'datetime'
                };
                options.yaxis = {
                    show: false
                };
                //options.grid = {
                //  row: {
                //    colors: ['#f3f4f5', '#fff'],
                //    opacity: 1
                //  }
                //};

                chart = new ApexCharts(document.querySelector("#chart_view"), options);
                chart.render();
            }
        }
    </script>
{% endblock %}