{% extends 'base.html' %}
{% block title %}
    Events
{% endblock %}

{% block content %}
    <div class="flex justify-between items-center border-b border-white text-white pb-2 px-1">
        <a href="/" class="text-center text-3xl font-bold hover:text-th-primary">
            <span class="text-th-primary">E</span>ventLogge<span class="text-th-primary">r</span>
        </a>
        <a class="flex justify-center border border-white rounded p-1 hover:bg-red-700" href="{% url 'logout' %}">
            <span class="material-icons">logout</span>
            Logout
        </a>
    </div>
    <div class="grid grid-cols-4 gap-4 mt-4">
        <!-- Action bar -->
        <div class="flex flex-col bg-th-card rounded text-white space-y-4 p-4">
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:border hover:border-white"
                href="{% url 'homepage' %}">
                <i class="material-icons">keyboard_arrow_left</i>
                <span>Back</span>
            </a>
            <a class="flex space-x-1 p-1 rounded bg-th-primary">
                <i class="material-icons">event_note</i>
                <span>Events</span>
            </a>
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:border hover:border-white">
                <i class="material-icons">insert_chart_outlined</i>
                <span>Charts</span>
            </a>
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:border hover:border-white">
                <i class="material-icons">settings_applications</i>
                <span>Settings</span>
            </a>

        </div>
        <div class="col-span-3 flex flex-col justify-start">
            <h2 class="text-3xl text-white text-center font-bold m-0">Events</h2>
            <!--- Filters -->
            <div class="flex space-x-1 my-2">
                <form class="flex space-x-1 w-full m-auto">
                    <input name="q" type="text" value="{{ q }}" class="rounded p-1 w-full border border-white bg-gray-900 text-white">
                    <button action="submit" class="flex whitespace-nowrap rounded p-1 text-white border border-white hover:bg-green-700">
                        <i class="material-icons">search</i>
                    </button>
                </form>

                <button onclick="openModal()" class="flex whitespace-nowrap rounded p-1 text-white border border-white hover:bg-yellow-700">
                    <i class="material-icons">access_time</i>
                </button>
            </div>
            {% if page_obj %}
                <table class="border-collapse text-white">
                    <thead class="font-xl bg-gray-400 text-black font-bold rounded py-2 mb-5">
                        <th class="rounded-l py-2 px-8 w-[200px]">TIMESTAMP</th>
                        <th class="rounded-r">RECORDED</th>
                    </thead>
                    <tbody>
                    {% for event in page_obj %}
                        <tr class="border-b">
                            <td class="text-center">{{ event.timestamp}}</td>
                            <td class="text-sm py-2">
                                <div class="string">{{ event.content|safe }}</div>
                                <div class="flex flex-col space-y-4 mt-4 rounded bg-th-card p-1">
                                    <button class="flex px-1 border border-white rounded hover:bg-th-primary" onClick="showDetail({{ event.id }},this)">
                                        <span class="material-icons">keyboard_arrow_down</span>
                                        <span>Show more</span>
                                    </button>
                                    <div id="{{ event.id }}" style="display: none;margin-left:20px;margin-top:5px" >
                                        {% for processes in event.processes %}
                                            <div class="flex justify-start items-center space-y-3">
                                                <div style="white-space:nowrap;margin-right: 5px">
                                                    <span class="processes" style="margin:0!important">{{ forloop.counter }}</span>
                                                    <span>at {{ processes.timestamp }}:</span>
                                                </div>
                                                <div>
                                                    <span class="grid grid-rows-2 grid-flow-col-dense">
                                                        {{ processes.list|safe }}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% block paginator %}
                    <div class="mt-8 text-white flex justify-center items-center space-x-1">
                        {% if page_obj.has_previous %}
                            <a class="material-icons border border-white rounded" href="?page={{ page_obj.previous_page_number }}">chevron_left</a>
                        {% endif %}
                        <span class="p-1">
                           {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %}
                            <a class="material-icons border border-white rounded" href="?page={{ page_obj.next_page_number }}">chevron_right</a>
                        {% endif %}
                    </div>
                {% endblock %}
            {% else %}
                <div class="text-white text-center mt-8">
                    <h1>No data found</h1>
                </div>
            {% endif %}

        </div>
    </div>

    <!--- Modal -->
    {% block modal %}
        <div class="modal-container text-white" id="modal">
            <div class="modal bg-th-card p-4 rounded">
                <header class="flex justify-between">
                    <h2 class="text-2xl font-bold">Datetime filter</h2>
                    <button class="modal-close" onClick="closeModal()">
                        <span class="material-icons">close</span>
                    </button>
                </header>
                <section>
                    <div class="flex flex-col mt-2">
                        <form id="filter">
                            <div class="mt-2">
                                <label class="block text-sm font-bold">Start</label>
                                <input value="{{ start }}"class="bg-white text-black rounded p-2 w-full" type="datetime-local" name="start" id="start">
                            </div>
                            <div class="mt-2">
                                <label class="block text-sm font-bold">End</label>
                                <input value="{{ end }}" class="bg-white text-black rounded p-2 w-full" type="datetime-local" name="end" id="end">
                            </div>
                        </form>
                    </div>
                </section>
                <footer class="flex justify-center mt-2 space-x-1">
                    <button class="border border-white rounded p-2 hover:bg-yellow-700" onClick="closeModal()">Close</button>
                    <button class="border border-white rounded p-2 hover:bg-th-primary" onClick="filter()">Filter</button>
                </footer>
            </div>
        </div>
    {% endblock %}


    <script>
        // function to show more data that display detail/hide detail of a event
        function showDetail(id,elem){
            if(document.getElementById(id).style.display === "none"){
                document.getElementById(id).style.display = "block";
                elem.innerHTML = '<span class="material-icons">keyboard_arrow_up</span> <span>Show less</span>';
            }else{
                document.getElementById(id).style.display = "none";
                elem.innerHTML = '<span class="material-icons">keyboard_arrow_down</span> <span>Show more</span>'
            }
        }
        function closeModal(){
            document.getElementById('modal').style.display = "none";
        }
        function openModal(){
            document.getElementById('modal').style.display = "block";
        }
        function filter(){
            document.getElementById('start').classList.remove("bg-red-200");
            document.getElementById('end').classList.remove("bg-red-200");
            if(document.getElementById('start').value === ""){
                document.getElementById('start').classList.add("bg-red-200");
                alert("Please enter a start date");
                return;
            }else if(document.getElementById('end').value === ""){
                document.getElementById('end').classList.add("bg-red-200");
                alert("Please enter an end date");
                return;
            }
            else if(document.getElementById('start').value > document.getElementById('end').value){
                alert("Please enter valid date");
                return;
            }else{
                closeModal();
                document.getElementById('filter').submit();
            }
        }
        function filterTable(elem){
            if(elem === ""){
                return;
            }else{
                document.location.href = "?q="+elem;
            }
        }
    </script>
    <style>
        .modal-container{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            background-color: rgba(0,0,0,0.9);
            z-index: 1;
        }
        .modal{
            position: absolute;
            min-width: 300px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .processes{
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 3px;
            line-height: 10px;
            padding: 3px 5px;
            white-space: nowrap;
            background-color: #6b7280;
        }
        .process{
            text-transform: capitalize;
            overflow: hidden;
            width: 100px;
            text-overflow: ellipsis;
            margin: 0 5px 0;
        }
        .process:hover{
            width: auto;
            color: #0073cb;
            cursor: default;
        }
        .string{
            text-transform: lowercase;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
        }
        kbd {
            text-transform: none !important;
            display: inline-block;
            background-color: #323232;
            border: 1px solid #ccc;
            border-radius: 3px;
            color: #dcdcdc;
            line-height: 10px;
            padding: 3px 5px;
            vertical-align: middle;
        }
    </style>

{% endblock %}