{% extends 'base.html' %}
{% block title %}
    Events
{% endblock %}

{% block content %}
    <div class="flex justify-between items-center border-b border-white text-white pb-2 px-1">
        <a href="/" class="text-center text-3xl font-bold hover:text-th-primary">
            <span class="text-th-primary">E</span>ventLogge<span class="text-th-primary">r</span>
        </a>
        <a class="flex justify-center border border-white rounded p-1 hover:bg-red-700" href="{% url 'logout' %}">
            <span class="material-icons">logout</span>
            Logout
        </a>
    </div>
    <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="flex flex-col bg-th-card rounded text-white space-y-4 p-4">
            <!-- Action bar -->
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:bg-yellow-700 hover:border hover:border-yellow-200"
                href="{% url 'homepage' %}">
                <i class="material-icons">keyboard_arrow_left</i>
                <span>Back</span>
            </a>
            <a class="flex space-x-1 p-1 rounded bg-th-primary">
                <i class="material-icons">event_note</i>
                <span>Events</span>
            </a>
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:bg-yellow-700 hover:border hover:border-yellow-200">
                <i class="material-icons">insert_chart_outlined</i>
                <span>Charts</span>
            </a>
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:bg-yellow-700 hover:border hover:border-yellow-200">
                <i class="material-icons">settings_applications</i>
                <span>Settings</span>
            </a>

        </div>
        <div class="col-span-3 flex flex-col justify-start">
            <!--- Events -->
            <button class="flex justify-left space-x-1 my-2 mr-auto w-32 text-white border border-white rounded p-1 hover:bg-red-700 max-w-32">
                <span class="material-icons">filter_list</span>
                <span>Filter</span>
            </button>
            <table class="border-collapse text-white">
                <thead class="font-xl bg-th-label text-black font-bold rounded py-2 mb-5">
                    <th class="rounded-l py-2 px-8">TIMESTAMP</th>
                    <th class="rounded-r">DATA</th>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr class="border-b border-dashed">
                        <td class="text-center">{{ event.timestamp}}</td>
                        <td class="text-sm py-2">
                            <div class="inline-block">{{ event.content|safe }}</div>
                            <div class="flex flex-col space-y-4 mt-4 rounded bg-th-card p-1">
                                <button class="flex px-1 border border-white rounded hover:bg-th-primary" onClick="showDetail({{ event.id }},this)">
                                    <span class="material-icons">keyboard_arrow_down</span>
                                    <span>Show more</span>
                                </button>
                                <div id="{{ event.id }}" style="display: none;margin-left:20px;margin-top:5px" >
                                    {% for processes in event.processes %}
                                        <div class="flex justify-start items-center space-y-3">
                                            <div style="white-space:nowrap;margin-right: 5px">
                                                <span class="processes" style="margin:0!important">{{ forloop.counter }}</span>
                                                <span>at {{ processes.timestamp }}:</span>
                                            </div>
                                            <div>
                                                <span class="grid grid-rows-2 grid-flow-col-dense">
                                                    {{ processes.list|safe }}
                                                </span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        // function to show more data that display detail/hide detail of a event
        function showDetail(id,elem){
            if(document.getElementById(id).style.display === "none"){
                document.getElementById(id).style.display = "block";
                elem.innerHTML = '<span class="material-icons">keyboard_arrow_up</span> <span>Show less</span>';
            }else{
                document.getElementById(id).style.display = "none";
                elem.innerHTML = '<span class="material-icons">keyboard_arrow_down</span> <span>Show more</span>'
            }
        }
    </script>
    <style>
        .processes{
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 10px;
            padding: 3px 5px;
            white-space: nowrap;
            background-color: darkgoldenrod;

        }
        .process{
            text-transform: capitalize;
            overflow: hidden;
            max-width: 75px;
            text-overflow: ellipsis;
            margin: 0 5px 0;
        }
        .process:hover{
            max-width: none;
            color: #0073cb;
            cursor: default;
        }
        .string{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: lowercase;
            margin: 0 2px 0;
            letter-spacing: 2px;
            font-size: 12px;
            vertical-align: middle;
            line-height: 10px;

        }
        kbd {
            display: inline-block;
            background-color: #323232;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            color: #dcdcdc;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 10px;
            padding: 3px 5px;
            vertical-align: middle;
        }
    </style>

{% endblock %}