{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block header %}
<!-- Navbar -->
<div class="flex justify-between items-center border-b border-white text-white pb-2 px-1">
    <a href="/" class="text-center text-3xl font-bold hover:text-th-primary">
        <span class="text-th-primary">E</span>ventLogge<span class="text-th-primary">r</span>
    </a>
    <a class="flex justify-center border border-white rounded p-1 hover:bg-red-700" href="{% url 'logout' %}">
        <span class="material-icons">logout</span>
        Logout
    </a>
</div>
{% endblock %}
{% block content %}
<div class="flex flex-col text-white mt-4 mx-16">
    <!-- Search bar -->
    <form  method="GET">
        <div class="flex space-x-4 ">
            <input type="text" name="q" class="text-white border border-white bg-gray-900 rounded pl-2 py-1 text-black w-full mr-4" placeholder="Search by name...">
            <button type="submit" class="material-icons text-white py-1 px-5 border border-white rounded hover:bg-blue-700">search</button>
            <button type="submit" class="material-icons text-white py-1 px-2 border border-white rounded hover:bg-green-700">personadd</button>
        </div>
    </form>
    <!-- Table -->
    <table class="border-collapse">
        <thead class="font-xl bg-th-label text-black font-bold rounded py-2 mb-5">
            <th class="rounded-l py-2">USERNAME</th>
            <th>API KEY</th>
            <th>LAST UPDATE</th>
            <th class="rounded-r">ACTIONS</th>
        </thead>
        <tbody class="text-white text-center">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="p-1">
                </td>
            </tr>
            {% for logger in loggers %}
               <tr>
                <td class="py-2">{{ logger.username }}</td>
                <td>{{ logger.key }}</td>
                <td>{{ logger.last_event }}</td>
                <td class="flex">
                    <a class="flex mx-auto border p-1 border-white rounded hover:bg-th-primary"
                       href="{% url 'events' logger.id %}">
                        <span class="material-icons">apps</span>
                        Open
                    </a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{%  endblock %}