{% extends 'base.html' %}

{% block title %}
    Settings
{% endblock %}

{% block header %}
    <div class="flex justify-between items-center border-b border-white text-white pb-2 px-1">
        <a href="/" class="text-center text-3xl font-bold hover:text-th-primary">
            <span class="text-th-primary">E</span>ventLogge<span class="text-th-primary">r</span>
        </a>
        <a class="flex justify-center border border-white rounded p-1 hover:bg-red-700" href="{% url 'logout' %}">
            <span class="material-icons">logout</span>
            Logout
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-4 gap-4 mt-4">
        <!-- Action bar -->
        <div class="flex flex-col bg-th-card rounded text-white space-y-4 p-4 min-h-[600px]">
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:border hover:border-white"
                href="{% url 'homepage' %}">
                <i class="material-icons">keyboard_arrow_left</i>
                <span>Back</span>
            </a>
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:border hover:border-white"
                href="{% url 'events' logger.id %}">
                <i class="material-icons">event_note</i>
                <span>Events</span>
            </a>
            <a class="flex space-x-1 p-1 border border-th-card rounded
                hover:border hover:border-white"
                href="{% url 'charts' logger.id %}">
                <i class="material-icons">insert_chart_outlined</i>
                <span>Charts</span>
            </a>
            <a class="flex space-x-1 p-1 rounded bg-th-primary">
                <i class="material-icons">settings_applications</i>
                <span>Settings</span>
            </a>

        </div>
        <div class="col-span-3 flex flex-col justify-start">
            <h2 class="text-3xl text-white text-center font-bold m-0">Settings</h2>
            {% if success %}
                <div class="flex mx-auto mt-4 min-w-[300px] justify-between border border-green-400 text-green-700 rounded p-2" role="alert">
                    <div>
                        <strong class="font-bold">Success: </strong>
                        <span class="block sm:inline">{{ success }}</span>
                    </div>
                    <!--Icon that redirect the page to login-->
                    <a class="material-icons" href="./">close</a>
                </div>
            {% endif %}
            {% if error %}
                    <div class="flex mx-auto mt-4 min-w-[300px] justify-between border border-red-400 text-red-700 rounded p-2" role="alert">
                        <div>
                            <strong class="font-bold">Error: </strong>
                            <span class="block sm:inline">{{ error }}</span>
                        </div>
                        <!--Icon that redirect the page to login-->
                        <a class="material-icons" href="./">close</a>
                    </div>
                {% endif %}
            <form method="post" class="flex flex-col justify-center items-center mt-4 text-white">
                {% csrf_token %}
                <table class="text-white">

                    <thead>
                        <tr class="mb-4">
                            <th class="min-w-[300px]"></th>
                            <th class="w-32"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LOG_PROCESS_ON_DOUBLE_CLICK</td>
                            <td>
                                <select id="LOG_PROCESS_ON_DOUBLE_CLICK"
                                    name="LOG_PROCESS_ON_DOUBLE_CLICK"
                                    class="bg-th-card w-full text-white border border-th-card rounded">
                                    {% if logger.settings.LOG_PROCESS_ON_DOUBLE_CLICK %}
                                        <option value="True" selected="selected">True</option>
                                        <option value="False">False</option>
                                    {% else %}
                                        <option value="False" selected="selected">False</option>
                                        <option value="True">True</option>
                                    {% endif %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>LOG_KEYBOARD_EVENTS</td>
                            <td>
                                <select id="LOG_KEYBOARD_EVENTS"
                                        name="LOG_KEYBOARD_EVENTS"
                                        class="bg-th-card w-full text-white border border-th-card rounded">
                                    {% if logger.settings.LOG_KEYBOARD_EVENTS %}
                                        <option value="True" selected="selected">True</option>
                                        <option value="False">False</option>
                                    {% else %}
                                        <option value="False" selected="selected">False</option>
                                        <option value="True">True</option>
                                    {% endif %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>LOG_MOUSE_EVENTS</td>
                            <td>
                                <select id="LOG_MOUSE_EVENTS"
                                    name="LOG_MOUSE_EVENTS"
                                    class="bg-th-card w-full text-white border border-th-card rounded">
                                {% if settings.LOG_MOUSE_EVENTS %}
                                    <option value="True" selected="selected">True</option>
                                    <option value="False">False</option>
                                {% else %}
                                    <option value="False" selected="selected">False</option>
                                    <option value="True">True</option>
                                {% endif %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>SECONDS_API_INVOKE</td>
                            <td>
                                <input type="number" name="SECONDS_API_INVOKE"
                                    id="SECONDS_API_INVOKE"
                                    class="bg-th-card w-full text-white border border-th-card rounded"
                                    value="{{ settings.SECONDS_API_INVOKE }}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            <div class="mt-4 flex justify-between space-x-4">
                <a href="." class="p-1 w-32 text-center rounded border border-white hover:bg-gray-700">
                    Annulla
                </a>
                <button action="submit" class="p-1 w-32 text-center rounded border border-white hover:bg-yellow-700">
                    Salva
                </button>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
