{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="flex justify-center mt-24">
        <div class="flex flex-col justify-center max-w-md rounded-xl px-8 bg-th-card">
            <h1 class="text-center text-3xl text-th-text font-bold mt-8 mb-4">
                <span class="text-th-primary">E</span>ventLogge<span class="text-th-primary">r</span>
            </h1>
            <form method="post" class="flex flex-col justify-center w-72">
                {% csrf_token %}
                <div>
                    <p class="text-th-text">Username:</p>
                    <input class="rounded w-72 bg-th-label" type="text" name="username"/>
                </div>
                <div class="mt-4">
                    <p class="text-th-text">Password:</p>
                    <input class="rounded w-72 bg-th-label" type="password" name="password"/>
                </div>
                <button class="bg-th-primary rounded my-8 h-10" type="submit">Log In</button>
            </form>

        </div>
    </div>
{% endblock %}